<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>The Rick and Morty API</title>
</head>
<body class="bg-gray-600">
<header>
    <form action="/">
        <div class="flex justify-center bg-gray-100">
            <button type="submit"
                    class="py-12 text-8xl text-center font-extrabold text-black">Rick and Morty
            </button>
        </div>
    </form>
</header>
<div class="flex flex-row gap-4 justify-center py-4 bg-black">
    <form action="/characters">
        <div class="flex border-2 rounded">
            <button type="submit"
                    class="flex px-4 py-2 w-64 text-white justify-center border-l hover:bg-gray-600">Characters
            </button>
        </div>
    </form>
    <form action="/episodes">
        <div class="flex border-2 rounded">
            <button type="submit"
                    class="flex px-4 py-2 w-64 text-white justify-center border-l hover:bg-gray-600">Episodes
            </button>
        </div>
    </form>
    <form action="/locations">
        <div class="flex border-2 rounded">
            <button type="submit"
                    class="flex px-4 py-2 w-64 text-white justify-center border-l hover:bg-gray-600">Locations
            </button>
        </div>
    </form>
</div>
{% block content %}

    {% include 'includes/characterCard.html.twig' %}

{% endblock %}
<footer class="py-12">
</footer>
</body>
</html>