{% extends 'base.html.twig' %}

{% block content %}
    <div class="flex flex-wrap gap-4 justify-center">
        {% for character in characters %}

            {{ block('character', 'base.html.twig') }}

        {% endfor %}
    </div>
{% endblock %}